<button type="button" class="btn btn-primary interest-button color bold">     
    <span tabindex="0" [popover]="popoverInterestedForm" (click)="showPopoverInterestedForm()"><span class="glyphicon glyphicon-thumbs-up"></span> Interested</span>
    <span *ngIf="interestedListLength > 0" class="badge color-badge" tabindex="0" [popover]="popoverInterestedPeople" 
    (click)="showPopoverInterestedPeople()">{{interestedListLength}}</span>            
    </button>
<div>
    <popover-content #popoverInterestedForm placement="top" [closeOnClickOutside]="true">
        <div>
            <div *ngIf="showErrorFlash" class="alert alert-danger">
                {{errorMessage}}
            </div>
            <form novalidate [formGroup]="interestedManagerForm">
                <div class="popover-body">
                    <span class="input input--hoshi margin-minus">
                  <input class="input__field input__field--hoshi" type="text" id="input-1" formControlName="interestedManagerName" required/>
               
                  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-1">
                  <span class="input__label-content input__label-content--hoshi">Manager Name</span>
                    </label>
                    
                    </span>
                       <div *ngIf="formErrors.interestedManagerName" class="error">
                    {{ formErrors.interestedManagerName }}
                  </div>
                    <span class="input input--hoshi margin-minus">
                  <input class="input__field input__field--hoshi" type="email" id="input-2" formControlName="interestedManagerEmail"
                   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
                  
                  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-2">
                  <span class="input__label-content input__label-content--hoshi">Manager's Email Id</span>
                    </label>
                    </span>
                     <div *ngIf="formErrors.interestedManagerEmail" class="error">
                    {{ formErrors.interestedManagerEmail }}
                  </div>
                    <textarea class="form-control margin-top-30 text-area-form" rows="5" formControlName="interestedManagerComments" placeholder="comments"></textarea>
                    <button type="button" class="btn btn-primary add-button pull-left margin-top-10 margin-bottom-10" [disabled]="!interestedManagerForm.valid"
                        (click)="saveInterestedManagerDetails()"> Save</button>
                    <button type="button" class="btn btn-primary add-button pull-left margin-top-10 margin-bottom-10 cancel" (click)="closePopoverInterestedForm()"> Cancel</button>
                </div>
            </form>
        </div>
    </popover-content>
</div>
<div>
    <popover-content class="p-content" #popoverInterestedPeople placement="top" [closeOnClickOutside]="true">
        <div class="popover-body"  style="min-width: 233px !important; min-height: 179px !important; max-height: 179px !important;">
            <div class="pop-conts" style="max-height: 179px !important;">
                <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left border-bottom" *ngFor="let interestedManager of interestedManagerDetails">
                    <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-name bold align-center">
                        {{interestedManager.interestedManagerName}}</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project italic normal  align-center color">{{interestedManager.interestedManagerEmailId}}</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project normal italic align-center   margin-top-5">
                        {{interestedManager.interestedManagerComment}}
                    </div>
                </div>
            </div>
        </div>
    </popover-content>
</div>