<div class="vbox" style="height: 100vh;width: 100vw">
  <div style="height: 96vh;width: 100vw">
  <router-outlet></router-outlet>
  <div>
  <div style="height: 3vh;width: 100%;">
    <!--footer-->
  </div>
</div>