@media screen and (min-width: 300px) and (max-width: 800px) {
    .mobile-head {
        font-size: 15px;
    }
    .mobile-icon {
        font-size: 13px;
    }
    .mobile-float {
        text-align: left;
    }
    .info {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0;
        border-right: 0px;
    }
    .interest-button {
        font-size: 13px;
        padding: 4px;
    }
    .short-button {
        font-size: 13px;
        padding: 4px;
    }
    .deploy-button {
        font-size: 13px;
        padding: 4px;
    }
}
@media screen and (min-width: 300px) and (max-width: 465px) {
    .interest-button {
        width: 100%;
    }
    .short-button {
        width: 100%;
    }
    .deploy-button {
        width: 100%;
    }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari and Chrome */
    
    .flex-direction-nav-featured a {}
    /* Safari only override */
    
    ::i-block-chrome,
    .input__field--hoshi {
        padding: 10px 0px;
    }
    ::i-block-chrome,
    .input__label--hoshi::before,
    .input__label--hoshi::after {
        height: 50px;
    }
    ::i-block-chrome,
    .input__label--hoshi {
        height: 50px;
    }
    ::i-block-chrome,
    .cand-info {
        margin-top: 10px;
    }
    ::i-block-chrome,
    .margin-minus {
        margin-bottom: 0px;
    }
    ::i-block-chrome,
    .select-box {
        margin-bottom: 5px;
    }
    ::i-block-chrome,
    .advanced-search {
        position: relative;
        right: 5px;
    }
    ::i-block-chrome,
    body {
        font-family: inherit !important;
    }
    ::i-block-chrome,
    .search-main {
        margin-top: 20px;
    }
}


/*@media screen and (min-width: 300px) and (max-width: 569px) {

.datepicker-input {

    width: 90% !important;
}

}*/

@media screen and (min-width: 300px) and (max-width: 600px) {
.technology {
   padding: 16px;
   margin-top: 1px;
}

.iconic-search {
   border-radius: 0px;
   background: #b72e33;
   border: #b72e33;
   margin-top: 0px;
   line-height: 23px;
   padding-left: 8px;
   padding-right: 8px;
}

.advanced-search {
   border-radius: 0px 3px 3px 0px;
   background: #f0f0f0;
   padding: 6px;
}

.clear-button {
   background: #7f7f7f;
   margin-left: 10px;
   border: none;
   position: inherit;
   padding: 5px;
   width: 80px;
   clear: both;
   float: right;
   margin-top: 10px;
margin-right: 10px;
}

.datepicker-input {

    width: 90% !important;
}

.flow{ margin-left: -15px; margin-right: -15px;}
.iconic-search{ padding-top: 11px; padding-bottom: 11px;}

}

@media screen and (min-width: 300px) and (max-width: 767px) {
.wrapper {
    margin-top: 120px !important;
}

.header-name {
    margin-top: 2px !important;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

}