* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal
}
.top-header {
    background: #fff;
    border-radius: 0px;
    border-top: 5px solid #b72e33;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0px 6px #888888;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.select-box {
    border-bottom: 1px solid #333;
    text-align: left;
    border-right: none;
    font-weight: bold;
    padding: 0px;
    border-left: none;
    border-top: none;
    box-shadow: none;
    margin-top: 25px;
    border-radius: 0px;
}
.searchIcon {
    background-image: url("../images/search.png") !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    padding-right: 20px !important;
}
.clear {
    clear: both;
}
.add-button {
    background: #333;
    border: #333;
}
.add-button:hover,
.add-button:focus {
    background: #b72e33;
}
.search-main {
    margin-top: 30px;
}
.search-button {
    background: #b72e33;
    border: #b72e33;
}
.search-button:hover,
.search-button:focus {
    background: #333;
}
.search-button {} .dec-padding-left {
    padding-left: 0px
}
.dec-padding-right {
    padding-right: 0px
}
.dec-padding-left {
    padding-left: 0px
}
.dec-padding-left-right {
    padding-right: 0px;
    padding-left: 0px;
}
.color {
    color: #b72e33;
}
.head-version2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 5px;
}
.head-version3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}
.detail {
    padding: 10px;
    border-left: 3px solid #333;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0 0px 3px #888888;
    line-height: 25px;
    font-size: 13px;
    background: #fcfcfc;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center !important;
}
.border {
    border-top: 1px solid #c9c9c9;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.interest-button {
    padding: 5px 25px 5px 25px;
    border: none;
    font-size: 16px;
    background: none;
}
.interest-button:hover,
.interest-button:focus {
    color: #333;
    background: none;
}
.short-button {
    background: none;
    padding: 5px 25px 5px 25px;
    border: none;
    font-size: 16px;
    background: none;
}
.short-button:hover,
.short-button:focus {
    color: #333;
    background: none;
}
.deploy-button {
    background: none;
    padding: 5px 25px 5px 25px;
    border: none;
    font-size: 16px;
    background: none;
}
.deploy-button:hover,
.deploy-button:focus {
    color: #333;
    background: none;
}
.iconic-search {
    border-radius: 0px;
    background: #b72e33;
    border: #b72e33;
    padding: 14px 16px;
    margin-top: 0px;
}
.advanced-search {
    border-radius: 0px 3px 3px 0px;
    background: #f0f0f0;
    padding: 10px;
}
.technology {
    padding: 20px;
}
.cand-info {
    display: none;
}
.phone-gly {
    font-size: 30px;
    vertical-align: middle;
}
.bold {
    font-weight: bold;
}
.border-right {
    border-right: 2px solid #9f9f9f
}
.info {
    margin-top: 10px;
    margin-bottom: 10px;
}
.flow {
    background: #f2f2f2;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #c9c9c9;
}
.wrapper {
    margin-top: 80px;
}
.close {
    padding: 6px !important;
    background: #b72e33 !important;
    color: #fff;
    opacity: inherit;
    position: absolute;
    right: 0 !important;
    top: -1px;
    border-radius: 0px 5px 0px 0px;
    z-index: 10000;
}
.close:hover {
    background: #333 !important;
    opacity: inherit;
    color: #fff;
}
.margin-minus {
    margin-bottom: -15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.cal-pick {
    border-bottom: 1px solid #333;
    width: 102% !important;
    color: #333;
    text-align: left;
    border-right: none;
    font-weight: bold;
    padding: 0px;
    border-left: none;
    border-top: none;
    box-shadow: none;
    margin-top: 10px;
    border-radius: 0px;
}
.cal-icon {
    background: none !important;
    border: none !important;
    padding: 0px !important;
    position: relative;
    right: 13px;
    z-index: 1000000000;
}
.cal-pick::-webkit-input-placeholder {
    color: #333;
}
.datepicker {
    top: 280px !important
}
span.input.input--hoshi .input__field.input__field--hoshi {} .color-badge {
    background: #333 !important;
    color: #fff !important;
    position: relative;
    top: -10px !important;
    right: 0px !important;
    font-size: 10px !important;
}
.border-bottom {
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.normal {
    font-style: normal;
}
.italic {
    font-style: italic;
}
.cancel {
    background: #b72e33;
    margin-left: 10px;
}
*:focus,
*:active {
    outline: none;
}
.pop-conts {
    max-height: 280px;
    overflow: auto;
    font-size: 12px !important;
}

.clear-button{    background: #7f7f7f;
    margin-left: 10px;
    border: none;
    position: relative;
    left: 10px;
    padding: 10px;
    width: 80px;}
	
	.clear-button:hover{ background:#b72e33;}

.text-area-form {
   border: 1px solid #333;
   margin-bottom: 0px;
   background: transparent;
}
.margin-top-30 {
   margin-top: 30px;
}
textarea::-webkit-input-placeholder {
   color: #333 !important;
}

.datepicker-calendar {
    position: absolute !important;
    top: -350px !important;
    right: 0px !important;
}

.datepicker-input{    border-bottom: 1px solid #333 !important; text-align: left !important; width:95% !important;}
.input-group.date{
    width:100% !important;
}

.datepicker-input-container{ display: inherit !important;}

.datepicker-container{display: inherit !important;}

.p-content{ max-width:250px !important;}

.header-name{    margin-top: 14px !important;
    text-align: center;
    font-size: 20px;
    font-weight: bold;}

    .logo{ display: initial !important;}

    a {
    cursor: pointer;
}
.error {
    clear: both;
    margin-top: 6px;
    color:red;
}

.green{     color: green;
    font-weight: bold;
    font-size: 16px;
    text-align: center;}

.spinner {
        position: absolute;
        width: 40px;
        top: 67px;
        left: -48px;
}