<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="HandheldFriendly" content="true">
  <title>Title</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-inverse top-header">
      <div class="container">
        <div class="col-md-2 col-sm-2 col-xs-12 row  margin-top-10 margin-bottom-10 align-center">
          <img src="./assets/images/staff_now.png" alt="logo" class="img-responsive logo" />
        </div>
      </div>
    </nav>
  </header>
  <div class="clear"> </div>
  <div class="bgSearch container-fluid wrapper">
    <div class="container">
      <div class="row dec-padding-left-right">
        <div class="col-md-3 col-sm-2 col-xs-12"></div>
        <div class="col-md-6 col-sm-8 col-xs-12 dec-padding-left-right">
          <div class="input-group" id="adv-search">
            <input type="text" class="form-control technology" name="technology" placeholder="Technology" [(ngModel)]="technology" />
            <div class="input-group-btn">
              <div class="btn-group" role="group">
                <div class="dropdown dropdown-lg">
                  <button type="submit" class="btn btn-primary iconic-search" (click)="searchEmployee()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                  <button type="button" class="btn btn-default dropdown-toggle advanced-search" data-toggle="dropdown" aria-expanded="false"
                    (click)="showHideAdvancedSearchDiv = !showHideAdvancedSearchDiv">Advanced Search <span class="caret"></span></button>
                  <button type="submit" class="btn btn-primary clear-button" (click)="clear()">Clear</button>
                </div>
                <img *ngIf="showSpinner" src="./assets/images/gears-animation.gif" alt="spinner" class="spinner">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12"></div>
      </div>
      <div class="row" [hidden]="!showHideAdvancedSearchDiv">
        <div class="col-md-1 col-sm-1 col-xs-12"></div>
        <div class="col-md-2 col-sm-3 col-xs-12 dec-padding-left">
          <span class="input input--hoshi">
                  <input class="input__field input__field--hoshi" type="text" id="input-4" name="searchEmployeeViewModel.name" [(ngModel)]="searchEmployeeViewModel.name"/>
                  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                  <span class="input__label-content input__label-content--hoshi">Candidate Name</span>
          </label>
          </span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-12 dec-padding-left">
          <span class="input input--hoshi">
                  <input class="input__field input__field--hoshi" type="text" id="input-5" name="searchEmployeeViewModel.skills" [(ngModel)]="searchEmployeeViewModel.skills"/>
                  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
                  <span class="input__label-content input__label-content--hoshi">Skills</span>
          </label>
          </span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 dec-padding-left">
          <select class="form-control select-box" name="searchEmployeeViewModel.company" [(ngModel)]="searchEmployeeViewModel.company"
            (ngModelChange)="loadLocationsBySearchCompany(searchEmployeeViewModel.company)">
          <option value="" [selected]="value==''">--Select a company--</option>
              <option *ngFor="let company of searchCompanies">{{company.name}}</option>
          </select>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12 dec-padding-left">
          <select class="form-control select-box" name="searchEmployeeViewModel.location" [(ngModel)]="searchEmployeeViewModel.location">
          <option value="" [selected]="value==''">--Select a location--</option>
              <option *ngFor="let location of searchLocations">{{location}}</option>
            </select>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 dec-padding-left">
          <button type="button" class="btn btn-primary search-button search-main" (click)="searchEmployee()">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12"></div>
      </div>
      <div class="clear"> </div>
      <div *ngIf="showSuccessFlash" class="alert alert-success">
        {{successMessage}}
      </div>
      <div *ngIf="showErrorFlash" class="alert alert-danger">
        {{errorMessage}}
      </div>
      <div class="flow">
        <h2 class="head-version2 color mobile-head">Showing {{paginationModel.from}} to {{paginationModel.to}} of {{paginationModel.total}} </h2>
        <button type="button" class="btn btn-primary add-button pull-right margin-bottom-10" data-toggle="modal" data-target="#myModal"
          (click)="showAddEmployeePopup()">  <span class="glyphicon glyphicon-plus"></span> Add</button>
        <div class="col-md-12 col-sm-12 col-xs-12 detail" *ngFor="let benchEmployee of paginationModel.pagedItems; let i = index; trackBy: trackByFn">
          <h3 class="head-version3 color mobile-head">{{benchEmployee.name}} </h3>
          <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left">{{benchEmployee.skills}}
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 dec-padding-left"> <span class="glyphicon glyphicon-map-marker  mobile-icon"></span>{{benchEmployee.location}}
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 dec-padding-left pull-right align-right mobile-float">
            <b>Availlable By : </b> {{benchEmployee.availableBy}}
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 dec-padding-left"> <i class="fa fa-building mobile-icon" aria-hidden="true"></i> {{benchEmployee.company}}
          </div>
          <div class="col-md-8 col-sm-12 col-xs-12 dec-padding-left pull-right align-right mobile-float">
            <b>Manager Email Id : </b> {{benchEmployee.managerEmailId}}
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left"> <span class="glyphicon glyphicon-phone mobile-icon"></span> <span class="bold">{{benchEmployee.phone}}</span>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left"> <span class="glyphicon glyphicon-envelope  mobile-icon"></span> <span class="bold"> {{benchEmployee.email}}</span>
          </div>
          <div *ngIf="benchEmployee.resume != null" class="col-md-12 col-sm-12 col-xs-12 dec-padding-left"><a href="{{this.apiUrl}}/download/{{benchEmployee._id}}"><span class="glyphicon glyphicon-download"></span> <span class="bold">Download Resume</span></a>
          </div>
          <div class="clear"> </div>
          <div class="border"> </div>
          <div class="col-md-12 align-center">
            <interested-manager-popover [employeeId]="benchEmployee._id" [interestedListLength]="benchEmployee.InterestedList.length"
              [managerEmailId]="benchEmployee.managerEmailId" [employeeName]="benchEmployee.name"
              (refreshParentBenchEmployeesList$)="refreshParentBenchEmployeesList()">
            </interested-manager-popover>

            <!--<button type="button" class="btn btn-primary short-button color bold">  
              <span tabindex="0" [popover]="popoverShortlistedForm" (click)="showPopoverShortlistedForm()"><span class="glyphicon glyphicon-list"></span> Shortlisted  </span>
              <span class="badge color-badge" tabindex="0" [popover]="popoverShortlistedPeople" (click)="showPopoverShortlistedPeople()">4</span>
            </button>
            <button type="button" class="btn btn-primary deploy-button color bold"><i class="fa fa-share" aria-hidden="true"></i> Deployed  <span class="badge color-badge">3</span></button>-->

            <!--<div>
              <popover-content #popoverShortlistedForm placement="top" [closeOnClickOutside]="true">
                <div>
                  <div class="popover-body">
                    <span class="input input--hoshi margin-minus">
                           <input class="input__field input__field--hoshi" type="text" id="input-1" />
                           <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-1">
                           <span class="input__label-content input__label-content--hoshi">Manager Name</span>
                    </label>
                    </span>
                    <span class="input input--hoshi margin-minus">
                           <input class="input__field input__field--hoshi" type="text" id="input-2" />
                           <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-2">
                           <span class="input__label-content input__label-content--hoshi">Project</span>
                    </label>
                    </span>-->
            <!--<span class="input input--hoshi margin-minus">
                           <input class="input__field input__field--hoshi" type="text" id="input-2" />
                           <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-2">
                           <span class="input__label-content input__label-content--hoshi">Client</span>
                    </label>
                    </span>-->
            <!--<button type="button" class="btn btn-primary add-button pull-left margin-top-20 margin-bottom-10"> Save</button>
                    <button type="button" class="btn btn-primary add-button pull-left margin-top-20 margin-bottom-10 cancel" (click)="closePopoverShortlistedForm()"> Cancel</button>
                  </div>
                </div>
              </popover-content>
            </div>-->
            <!--<div>
              <popover-content #popoverShortlistedPeople placement="top" [closeOnClickOutside]="true">
                <div class="popover-body pop-conts">
                  <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left border-bottom">
                    <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-name bold align-center">Relton</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project italic normal  align-center">Rack Space Project</div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left border-bottom">
                    <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-name bold align-center">Nikhil Damwani</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project italic normal  align-center">Insurance Assist Project</div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left border-bottom">
                    <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-name bold align-center">Gopal Tiple</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project italic normal  align-center">Insurance Assist Project</div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left border-bottom">
                    <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-name bold align-center">Devender Gupta</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project italic normal  align-center">Edelwise</div>
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left border-bottom">
                    <div class="col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-name bold align-center">Mukund Pulapaka</div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 dec-padding-left-right  main-project italic normal  align-center">Gladson Project</div>
                  </div>
                </div>
              </popover-content>
            </div>-->
          </div>
          <div class="clear"> </div>
        </div>
        <div class="clear"> </div>
        <nav aria-label="Page navigation" class="pull-right">
          <ul *ngIf="paginationModel.pager.pages && paginationModel.pager.pages.length" class="pagination">
            <li class="page-item" [ngClass]="{disabled:paginationModel.pager.currentPage === 1}">
              <a class="page-link" aria-label="Previous" (click)="setPage(paginationModel.pager.currentPage - 1)">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of paginationModel.pager.pages" [ngClass]="{active:paginationModel.pager.currentPage === page}">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:paginationModel.pager.currentPage === paginationModel.pager.totalPages}">
              <a class="page-link" aria-label="Next" (click)="setPage(paginationModel.pager.currentPage + 1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" bsModal #addEmployeeModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog internal-popup">
      <div class="modal-content">
        <button type="button" class="close" aria-label="Close" (click)="closeAddEmployeePopup()">
                <span aria-hidden="true">&times;</span>
              </button>
        <div class="modal-body">
          <div *ngIf="showSuccessFlash" class="alert alert-success">
            {{successMessage}}
          </div>
          <div *ngIf="showErrorFlash" class="alert alert-danger">
            {{errorMessage}}
          </div>
          <form novalidate [formGroup]="addEmployeeForm">
            <span class="input input--hoshi margin-minus">
  <input class="input__field input__field--hoshi" type="text" id="input-1" formControlName="name" required />
  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-1">
  <span class="input__label-content input__label-content--hoshi">Name</span>
            </label>
            </span>
            <div *ngIf="formErrors.name" class="error">
              {{ formErrors.name }}
            </div>
            <span class="input input--hoshi margin-minus">
  <input class="input__field input__field--hoshi" type="email" id="input-14" formControlName="managerEmailId" 
  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required />
  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-14">
  <span class="input__label-content input__label-content--hoshi">Manager Email Id</span>
            </label>
            </span>
            <div *ngIf="formErrors.managerEmailId" class="error">
              {{ formErrors.managerEmailId }}
            </div>
            <select class="form-control select-box" formControlName="company" (change)="loadLocationsByCompany(addEmployeeForm.value.company)"
              required>          
          <option value="" [selected]="value==''">--Select a company--</option>
    <option *ngFor="let company of companies">{{company.name}}</option>
  </select>
            <div *ngIf="formErrors.company" class="error">
              {{ formErrors.company }}
            </div>
            <select class="form-control select-box" formControlName="location" required>            
          <option value="" [selected]="value==''">--Select a location--</option>
    <option *ngFor="let location of locations">{{location}}</option>
  </select>
            <div *ngIf="formErrors.location" class="error">
              {{ formErrors.location }}
            </div>
            <span class="input input--hoshi margin-minus">
  <input class="input__field input__field--hoshi" type="text" id="input-4" formControlName="phone"/>
  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-3">
  <span class="input__label-content input__label-content--hoshi">Phone</span>
            </label>
            </span>
            <span class="input input--hoshi margin-minus">
  <input class="input__field input__field--hoshi" type="email" id="input-4" formControlName="emailId" 
  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required  />
  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
  <span class="input__label-content input__label-content--hoshi">email</span>
            </label>
            </span>
            <div *ngIf="formErrors.emailId" class="error">
              {{ formErrors.emailId }}
            </div>
            <span class="input input--hoshi margin-minus">
  <input class="input__field input__field--hoshi" type="text" id="input-5" formControlName="skills" required  />
  <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
  <span class="input__label-content input__label-content--hoshi">Skills</span>
            </label>
            </span>
            <div *ngIf="formErrors.skills" class="error">
              {{ formErrors.skills }}
            </div>
            <div class="clear"> </div>
            <label class="control-label margin-top-20">Resume</label>
            <input #fileInput type="file" (change)="fileEvent($event)" formControlName="resume" />
            <div class="clear"> </div>
            <label class="control-label margin-top-20">Availlable By</label>
            <div class="clearfix">
              <div class="input-group date">
                <ng2-datepicker formControlName="availableBy" [options]="availableByDateModel.availableByDatePickerOptions"></ng2-datepicker>
              </div>
            </div>
            <button type="button" class="btn btn-primary add-button pull-left margin-top-10 margin-bottom-10" (click)="saveEmployeeDetails($event)"
              [disabled]="!addEmployeeForm.valid"> Add</button>
          </form>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="successModal" bsModal #successModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog internal-popup">
      <div class="modal-content">
        <button type="button" class="close" aria-label="Close" (click)="closeSuccessPopup()"><span aria-hidden="true">&times;</span></button>
        <div class="modal-body">
          <div class="green"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Details saved successfully.</div>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</body>

</html>